<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>365days.me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link> 
    <link rel="shortcut icon" href="/favicon.png" />
  </head>
  <body>
    <header id="mast" role="navigation">
      <nav>
        <a href="{{ app.url_generator.generate('homepage') }}"><img class="site-logo" src="/images/365days_logo.png" /></a>
        
        <ul id="nav-list">
          <li class="nav-today{% if app.request.get('_route') == 'view_by_day' %} active{% endif %}"><a href="{{ app.url_generator.generate('homepage') }}">Today</a></li>
          <li class="nav-archives{% if app.request.get('_route') == 'archives' %} active{% endif %}"><a href="{{ app.url_generator.generate('archives') }}">Archives</a></li>
          <li class="nav-about{% if app.request.get('_route') == 'about' %} active{% endif %}"><a href="{{ app.url_generator.generate('about') }}">About</a></li>
        </ul>
      </nav>
    </header>

    <div id="content" role="main">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <p class="copyright-notice">
        All photos &amp; content &copy; {{ "now"|date("Y") }} Melissa Peh (<a href="http://twitter.com/melz" rel="external">@melz</a>). Please do not repost my photos without prior consent.
      </p>
    </footer>

  </body>
</html>